---
name: Release

on:  # yamllint disable-line rule:truthy
  push:
    tags:
      - 'v*.*.*'

jobs:
  Release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: tlambert03/setup-qt-libs@v1
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - uses: snok/install-poetry@v1

      - name: Get tag
        id: tag
        run: echo version=${GITHUB_REF#refs/*/} >> $GITHUB_OUTPUT

      - name: Build project for distribution
        run: poetry build

      - name: Get wheel file path
        id: wheel-file-path
        run: echo path=$(ls dist/*.whl) >> $GITHUB_OUTPUT


      - name: Test build package
        run: |
          python -m pip install ${{ steps.wheel-file-path.outputs.path }}
          python tools/check_build_package.py \
            --tag-version ${{ steps.tag.outputs.version }}
          python -m pip uninstall -y pyqtdarktheme
